:root {
  --color-white: #fff;
  --color-pink: #af315d;
  --color-black: #434453;
  --color-yellow: #fed72b;
  --color-orange: #fe9711;
  --color-dark-pink: #7e2e4e;
  --color-dark-orange: #d45326;
  --color-light-yellow: #fef53a;
  --color-translucent-pink: #af315d60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: max(calc(16 * min(100vw / 500, 100vh / 500)), 0px);
}

body {
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--color-pink);
}

body::-webkit-scrollbar,
audio {
  display: none;
}

.duck {
  width: 18.75rem;
  position: relative;
}

.duck__head-wrapper {
  width: 9.4375rem;
  height: 9.375rem;
  position: relative;
  margin-left: 2.5rem;
}

.duck__head {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-yellow);
}

.duck__eyebrow {
  top: 2rem;
  right: 2.625rem;
  width: 1.875rem;
  height: 0.625rem;
  position: absolute;
  border-radius: 0.4375rem;
  background-color: var(--color-light-yellow);
  animation: move-up 3s infinite ease-in-out 1.65s;
}

.duck__eye-container {
  top: 2.9375rem;
  width: 3.3125rem;
  right: 1.9375rem;
  height: 3.375rem;
  position: absolute;
}

.duck__eye-container::before {
  z-index: 5;
  content: "";
  width: 100%;
  position: absolute;
  background-color: var(--color-yellow);
  animation: blink 3s infinite cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
}

.duck__eye-container::after {
  z-index: 5;
  content: "";
  width: 100%;
  bottom: 0rem;
  position: absolute;
  background-color: var(--color-yellow);
  animation: blink 3s infinite cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
}

.duck__eye {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
}

.duck__eye::before {
  content: "";
  width: 1.6875rem;
  height: 1.6875rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--color-black);
  animation: move-eyes 6s infinite ease-in-out;
}

.duck__mouth {
  top: 3.5625rem;
  width: 5.625rem;
  left: -2.4375rem;
  height: 3.3125rem;
  position: absolute;
}

.duck__mouth::before {
  top: 0;
  z-index: 7;
  content: "";
  width: 100%;
  height: 2.625rem;
  position: absolute;
  background-color: var(--color-orange);
  border-radius: 0 2.3125rem 0 2.4375rem;
  animation: move-down 3s infinite ease-in-out;
}

.duck__mouth::after {
  right: 0;
  bottom: 0;
  z-index: 6;
  content: "";
  width: 5.0625rem;
  height: 1.125rem;
  position: absolute;
  background-color: var(--color-dark-orange);
  animation: move-up 3s infinite ease-in-out;
  border-radius: 3.3125rem 1.5rem 1.875rem 0;
}

.duck__nostril {
  z-index: 7;
  width: 1rem;
  top: 3.9375rem;
  left: 0.3125rem;
  height: 0.4375rem;
  position: absolute;
  border-radius: 0.3125rem;
  background-color: var(--color-dark-orange);
  animation: move-down 3s infinite ease-in-out;
}

.duck__ears {
  top: 0;
  left: 50%;
  width: 5rem;
  height: 2.5625rem;
  position: absolute;
}

.duck__ears::before {
  top: 0;
  left: 0;
  z-index: 4;
  content: "";
  height: 1.5rem;
  width: 4.3125rem;
  position: absolute;
  transform-origin: left;
  border-radius: 0 0.4375rem 1.75rem 0;
  background-color: var(--color-yellow);
  animation: shake 3s infinite ease-in-out 1.65s;
}

.duck__ears::after {
  right: 0;
  bottom: 0;
  z-index: 3;
  content: "";
  width: 2.3125rem;
  height: 1.375rem;
  position: absolute;
  border-radius: 0 0.4375rem 1.75rem 0;
  background-color: var(--color-orange);
  animation: shake 3s infinite ease-in-out;
}

.duck__body {
  z-index: 8;
  width: 13.75rem;
  height: 8.125rem;
  position: relative;
  margin-left: 2.5rem;
  margin-top: -0.625rem;
  border-radius: 5.9375rem;
  background-color: var(--color-yellow);
  animation: breathe 3s infinite cubic-bezier(0.37, 0, 0.63, 1) 1s;
}

.duck__wing {
  top: -1.25rem;
  right: -2.5rem;
  width: 10.6875rem;
  height: 6.9375rem;
  position: absolute;
  animation: shake 3s infinite 1.5s;
}

.duck__wing::before {
  left: 0;
  content: "";
  height: 100%;
  width: 7.0625rem;
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-light-yellow);
}

.duck__wing::after {
  content: "";
  height: 100%;
  right: 0.0625rem;
  width: 7.0625rem;
  position: absolute;
  border-radius: 0 11.9375rem 0 0;
  background-color: var(--color-light-yellow);
}

.duck__tail {
  top: 0;
  width: 10rem;
  right: 3.3125rem;
  height: 13.4375rem;
  position: absolute;
  transform-origin: bottom;
  animation: shake 3s infinite;
}

.duck__tail::before {
  top: 0;
  left: 0;
  z-index: 2;
  content: "";
  width: 7.0625rem;
  height: 8.625rem;
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-pink);
}

.duck__tail::after {
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  width: 6.9925rem;
  height: 8.7075rem;
  border-radius: 50%;
  position: absolute;
  transform: rotate(-14deg);
  background-color: var(--color-orange);
}

.duck__legs-wrapper {
  width: 5.375rem;
  height: 2.3125rem;
  position: relative;
  margin-left: 6.5625rem;
}

.duck__left-leg,
.duck__right-leg {
  height: 100%;
  width: 3.5rem;
  display: flex;
  position: absolute;
  justify-content: center;
}

.duck__left-leg {
  right: 0;
}

.duck__right-leg {
  left: 0;
  transform-origin: bottom right;
  animation: stamp 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

.duck__left-leg::before,
.duck__right-leg::before {
  content: "";
  height: 100%;
  width: 0.75rem;
  position: absolute;
}

.duck__left-leg::after,
.duck__right-leg::after {
  left: 0;
  bottom: 0;
  content: "";
  width: 3.375rem;
  height: 0.75rem;
  position: absolute;
  border-radius: 0.53125rem;
}

.duck__left-leg::before,
.duck__left-leg::after {
  background-color: var(--color-orange);
}

.duck__right-leg::before,
.duck__right-leg::after {
  background-color: var(--color-dark-orange);
}

.ground {
  width: 12.5rem;
  height: 0.875rem;
  margin-left: 3.75rem;
  border-radius: 0.75rem;
  background-color: var(--color-dark-pink);
}

.music-modal-wrapper {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  position: fixed;
  visibility: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: fade-in 1s ease 1s forwards;
  background-color: var(--color-translucent-pink);
}

.music-modal {
  gap: 25px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 35px 40px 40px;
  font-family: "system-ui", "Trebuchet MS", "Helvetica";
}

.music-modal h3 {
  font-size: 24px;
  color: var(--color-white);
}

.music-modal div {
  gap: 15px;
  display: flex;
}

.music-modal button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  padding: 15px 30px;
  font-family: inherit;
  color: var(--color-white);
  background-color: transparent;
}

#no-button {
  color: var(--color-white);
  border: 2px solid var(--color-pink);
  background-color: var(--color-translucent-pink);
}

#yes-button {
  background-color: var(--color-pink);
}

.fade-out-animation {
  animation: fade-out 1s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes move-up {
  0%,
  100% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-0.1rem);
  }
  10% {
    transform: translateY(0);
  }
}

@keyframes move-down {
  0%,
  100% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0.05rem);
  }
  10% {
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
    height: 0rem;
  }
  5% {
    height: 50%;
  }
  10% {
    height: 0rem;
  }
}

@keyframes move-eyes {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-0.0625rem);
  }
  75% {
    transform: translate(0.0625rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(4deg);
  }
  5% {
    transform: rotate(-3deg);
  }
  10% {
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(1deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.01);
  }
}

@keyframes stamp {
  0% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(0deg);
  }
}