:root {
  --color-white: #fff;
  --color-blue: #01a0f5;
  --color-pink: #af315d;
  --color-black: #434453;
  --color-yellow: #fed72b;
  --color-orange: #fe9711;
  --color-dark-pink: #7e2e4e;
  --color-dark-orange: #d45326;
  --color-light-yellow: #fef53a;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: max(calc(16 * min(100vw / 500, 100vh / 500)), 0px);
}

body {
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--color-pink);
}

.duck {
  width: 18.75rem;
  position: relative;
}

.duck__head-wrapper {
  width: 9.4375rem;
  height: 9.375rem;
  margin-left: 2.5rem;
  position: relative;
}

.duck__head {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-yellow);
}

.duck__eyebrow {
  top: 2rem;
  right: 2.625rem;
  width: 1.875rem;
  height: 0.625rem;
  border-radius: 0.4375rem;
  position: absolute;
  background-color: var(--color-light-yellow);
}

.duck__eye {
  top: 2.9375rem;
  right: 1.9375rem;
  width: 3.3125rem;
  height: 3.375rem;
  display: flex;
  border-radius: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
}

.duck__eye::before {
  content: "";
  width: 100%;
  height: 0.625rem;
  bottom: -0.09375rem;
  position: absolute;
  background-color: var(--color-yellow);
}

.duck__eye::after {
  content: "";
  width: 1.6875rem;
  height: 1.6875rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--color-black);
}

.duck__mouth {
  top: 3.5625rem;
  left: -2.4375rem;
  width: 5.625rem;
  height: 3.3125rem;
  position: absolute;
}

.duck__mouth::before {
  top: 0;
  z-index: 7;
  content: "";
  width: 100%;
  height: 2.625rem;
  position: absolute;
  border-radius: 0 2.3125rem 0 2.4375rem;
  background-color: var(--color-orange);
}

.duck__mouth::after {
  right: 0;
  bottom: 0;
  z-index: 6;
  content: "";
  width: 5.0625rem;
  height: 1.125rem;
  position: absolute;
  border-radius: 3.3125rem 1.25rem 1.875rem 0;
  background-color: var(--color-dark-orange);
}

.duck__nostril {
  top: 3.9375rem;
  left: 0.3125rem;
  z-index: 7;
  width: 1rem;
  height: 0.4375rem;
  position: absolute;
  border-radius: 0.3125rem;
  background-color: var(--color-dark-orange);
}

.duck__ears {
  top: 0;
  left: 50%;
  width: 5rem;
  height: 2.5625rem;
  position: absolute;
}

.duck__ears::before {
  top: 0;
  left: 0;
  z-index: 4;
  content: "";
  width: 4.3125rem;
  height: 1.5rem;
  position: absolute;
  border-radius: 0 0.4375rem 1.75rem 0;
  background-color: var(--color-yellow);
}

.duck__ears::after {
  right: 0;
  bottom: 0;
  z-index: 3;
  content: "";
  width: 2.3125rem;
  height: 1.375rem;
  position: absolute;
  border-radius: 0 0.4375rem 1.75rem 0;
  background-color: var(--color-orange);
}

.duck__body {
  z-index: 8;
  width: 13.75rem;
  height: 8.125rem;
  margin-top: -0.625rem;
  margin-left: 2.5rem;
  position: relative;
  border-radius: 5.9375rem;
  background-color: var(--color-yellow);
}

.duck__wing {
  top: -1.25rem;
  right: -2.5rem;
  width: 10.6875rem;
  height: 6.9375rem;
  position: absolute;
}

.duck__wing::before {
  left: 0;
  content: "";
  width: 7.0625rem;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-light-yellow);
}

.duck__wing::after {
  right: 0.0625rem;
  content: "";
  width: 7.0625rem;
  height: 100%;
  position: absolute;
  border-radius: 0 11.9375rem 0 0;
  background-color: var(--color-light-yellow);
}

.duck__tail {
  top: 0;
  right: 3.3125rem;
  width: 10rem;
  height: 13.4375rem;
  position: absolute;
}

.duck__tail::before {
  top: 0;
  left: 0;
  z-index: 2;
  content: "";
  width: 7.0625rem;
  height: 8.625rem;
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-pink);
}

.duck__tail::after {
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  width: 6.9925rem;
  height: 8.7075rem;
  border-radius: 50%;
  position: absolute;
  transform: rotate(-14deg);
  background-color: var(--color-orange);
}

.duck__legs-wrapper {
  width: 5.375rem;
  height: 2.3125rem;
  position: relative;
  margin-left: 6.5625rem;
}

.duck__legs-wrapper::before {
  left: 0;
  bottom: 0;
  content: "";
  width: 3.375rem;
  height: 0.75rem;
  position: absolute;
  border-radius: 0.53125rem;
  background-color: var(--color-dark-orange);
}

.duck__legs-wrapper::after {
  right: 0;
  bottom: 0;
  content: "";
  width: 3.375rem;
  height: 0.75rem;
  position: absolute;
  border-radius: 0.53125rem;
  background-color: var(--color-orange);
}

.duck__legs {
  right: 1.125rem;
  width: 2.625rem;
  height: 100%;
  position: absolute;
  background-color: var(--color-pink);
}

.duck__legs::before {
  left: 0;
  content: "";
  width: 0.75rem;
  height: 100%;
  position: absolute;
  background-color: var(--color-dark-orange);
}

.duck__legs::after {
  right: 0;
  content: "";
  width: 0.75rem;
  height: 100%;
  position: absolute;
  background-color: var(--color-orange);
}

.ground {
  height: 0.875rem;
  width: 12.5rem;
  margin-left: 3.75rem;
  border-radius: 0.75rem;
  background-color: var(--color-dark-pink);
}
